a {
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    padding: 15px;
  } 
  .navbar-toggler {
    color:  #fff !important;
  } 